# 2025ç¾èµ›Cé¢˜ï¼šæ•°æ®é¢„å¤„ç†æµç¨‹

## 1. é¡¹ç›®ç›®æ ‡ä¸æ•°æ®æ¦‚è§ˆ

### ğŸ“Œ æœ¬Notebookçš„ç›®æ ‡

æœ¬æ–‡æ¡£æ˜¯2025å¹´ç¾å›½å¤§å­¦ç”Ÿæ•°å­¦å»ºæ¨¡ç«èµ›ï¼ˆMCMï¼‰Cé¢˜ã€Šå¥¥è¿å¥–ç‰Œæ¦œæ¨¡å‹ã€‹çš„**æ•°æ®é¢„å¤„ç†æµç¨‹**ã€‚æˆ‘ä»¬çš„æ ¸å¿ƒç›®æ ‡æ˜¯ï¼š

1. **ç†è§£æ•°æ®ç»“æ„**ï¼šç†Ÿæ‚‰å¥¥è¿ä¼šç›¸å…³çš„äº”å¼ æ ¸å¿ƒæ•°æ®è¡¨
2. **æ¸…æ´—ä¸æ•´åˆ**ï¼šå¤„ç†ç¼ºå¤±å€¼ã€å¼‚å¸¸å€¼ï¼Œå¹¶å°†å¤šè¡¨åˆå¹¶ä¸ºç»Ÿä¸€çš„åˆ†æä¸»è¡¨
3. **ç‰¹å¾å·¥ç¨‹**ï¼šåˆ›å»ºå¯¹å¥–ç‰Œé¢„æµ‹æœ‰ä»·å€¼çš„è¡ç”Ÿç‰¹å¾ï¼ˆå¦‚å†å²è¡¨ç°ã€ä¸œé“ä¸»æ•ˆåº”ç­‰ï¼‰
4. **ä¸ºå»ºæ¨¡æ‰“åŸºç¡€**ï¼šè¾“å‡ºå¹²å‡€ã€ç»“æ„åŒ–çš„æ•°æ®é›†ï¼Œä¾›åç»­é¢„æµ‹æ¨¡å‹ä½¿ç”¨

### ğŸ“Š æ•°æ®æ¥æº

æˆ‘ä»¬å…±æœ‰**5ä¸ªæ•°æ®æ–‡ä»¶**ï¼š

| æ–‡ä»¶å | æè¿° | æ ¸å¿ƒå­—æ®µ |
|--------|------|----------|
| `summerOly_medal_counts.csv` | å„å›½å†å±Šå¥–ç‰Œæ•°ï¼ˆäº‹å®è¡¨ï¼‰ | NOC, Gold, Silver, Bronze, Total, Year |
| `summerOly_hosts.csv` | å†å±Šå¥¥è¿ä¼šä¸»åŠåŸå¸‚ | Year, Host |
| `summerOly_programs.csv` | å„å±Šæ¯”èµ›é¡¹ç›®æ•°é‡ | Sport, Discipline, å„å¹´ä»½åˆ— |
| `summerOly_athletes.csv` | è¿åŠ¨å‘˜çº§åˆ«è¯¦ç»†è®°å½• | Name, NOC, Year, Sport, Event, Medal |
| `data_dictionary.csv` | æ•°æ®å­—å…¸ | å­—æ®µè¯´æ˜ |

### ğŸ’¡ æ ¸å¿ƒç†å¿µ

> **"æœ¬æ–‡æ¡£æ—¨åœ¨é€šè¿‡æ¸…æ™°çš„æ•°æ®å¤„ç†ï¼Œä¸ºå¥–ç‰Œé¢„æµ‹æ¨¡å‹æ‰“ä¸‹åŸºç¡€ã€‚æ¯ä¸€æ­¥å¤„ç†éƒ½æœ‰å…¶ä¸šåŠ¡é€»è¾‘â€”â€”æˆ‘ä»¬ä¸ä»…è¦çŸ¥é“'æ€ä¹ˆåš'ï¼Œæ›´è¦ç†è§£'ä¸ºä»€ä¹ˆè¿™æ ·åš'ã€‚"**

---

ç°åœ¨ï¼Œè®©æˆ‘ä»¬å¼€å§‹åŠ è½½æ•°æ®ã€‚

In [1]:
# å¯¼å…¥å¿…è¦çš„åº“
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# è®¾ç½®æ˜¾ç¤ºé€‰é¡¹ï¼Œä¾¿äºæŸ¥çœ‹æ•°æ®
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 200)

print("âœ… åº“å¯¼å…¥æˆåŠŸï¼")

âœ… åº“å¯¼å…¥æˆåŠŸï¼

In [2]:
# è¯»å–æ‰€æœ‰æ•°æ®æ–‡ä»¶
# ä½¿ç”¨ç›¸å¯¹è·¯å¾„ï¼Œå‡è®¾Notebookä¸æ•°æ®æ–‡ä»¶åœ¨åŒä¸€ç›®å½•

# 1. å¥–ç‰Œæ•°æ® - è¿™æ˜¯æˆ‘ä»¬çš„æ ¸å¿ƒäº‹å®è¡¨
df_medals = pd.read_csv('summerOly_medal_counts.csv')

# 2. ä¸»åŠåŸå¸‚æ•°æ®
df_hosts = pd.read_csv('summerOly_hosts.csv')

# 3. æ¯”èµ›é¡¹ç›®æ•°æ®
# æ³¨æ„ï¼šè¯¥æ–‡ä»¶åŒ…å«ç‰¹æ®Šå­—ç¬¦ï¼Œéœ€è¦ä½¿ç”¨latin-1ç¼–ç 
df_programs = pd.read_csv('summerOly_programs.csv', encoding='latin-1')

# 4. è¿åŠ¨å‘˜æ•°æ®ï¼ˆæ–‡ä»¶è¾ƒå¤§ï¼Œå…ˆåªè¯»å–å‰10ä¸‡è¡Œç”¨äºæ¢ç´¢ï¼‰
# æ³¨æ„ï¼šå®Œæ•´åˆ†ææ—¶åº”è¯»å–å…¨éƒ¨æ•°æ®
df_athletes = pd.read_csv('summerOly_athletes.csv', nrows=100000)

# âš ï¸ é‡è¦ï¼šæ¸…ç†æ•°æ®ä¸­çš„ç‰¹æ®Šç©ºæ ¼å­—ç¬¦ \xa0 (non-breaking space)
# åŸå§‹æ•°æ®ä¸­å­˜åœ¨è¿™ç§ç‰¹æ®Šå­—ç¬¦ï¼Œä¼šå¯¼è‡´å­—ç¬¦ä¸²åŒ¹é…å¤±è´¥
df_medals['NOC'] = df_medals['NOC'].str.replace('\xa0', '', regex=False).str.strip()

print("âœ… æ•°æ®åŠ è½½å®Œæˆï¼")
print(f"\nå„è¡¨è¡Œæ•°ç»Ÿè®¡ï¼š")
print(f"  - å¥–ç‰Œæ•°æ® (df_medals): {len(df_medals):,} è¡Œ")
print(f"  - ä¸»åŠåŸå¸‚ (df_hosts): {len(df_hosts):,} è¡Œ")
print(f"  - æ¯”èµ›é¡¹ç›® (df_programs): {len(df_programs):,} è¡Œ")
print(f"  - è¿åŠ¨å‘˜æ•°æ® (df_athletes): {len(df_athletes):,} è¡Œ (ä»…åŠ è½½éƒ¨åˆ†)")

âœ… æ•°æ®åŠ è½½å®Œæˆï¼

å„è¡¨è¡Œæ•°ç»Ÿè®¡ï¼š
  - å¥–ç‰Œæ•°æ® (df_medals): 1,435 è¡Œ
  - ä¸»åŠåŸå¸‚ (df_hosts): 35 è¡Œ
  - æ¯”èµ›é¡¹ç›® (df_programs): 74 è¡Œ
  - è¿åŠ¨å‘˜æ•°æ® (df_athletes): 100,000 è¡Œ (ä»…åŠ è½½éƒ¨åˆ†)

### 1.1 æŸ¥çœ‹å¥–ç‰Œæ•°æ®ï¼ˆæ ¸å¿ƒäº‹å®è¡¨ï¼‰

å¥–ç‰Œæ•°æ®æ˜¯æˆ‘ä»¬åˆ†æçš„**æ ¸å¿ƒäº‹å®è¡¨**ï¼Œå®ƒè®°å½•äº†æ¯å±Šå¥¥è¿ä¼šæ¯ä¸ªå›½å®¶è·å¾—çš„é‡‘ã€é“¶ã€é“œç‰Œæ•°é‡ã€‚è®©æˆ‘ä»¬å…ˆäº†è§£å®ƒçš„ç»“æ„ï¼š

In [3]:
# æŸ¥çœ‹å¥–ç‰Œæ•°æ®çš„åŸºæœ¬ä¿¡æ¯
print("=" * 50)
print("ğŸ“Š å¥–ç‰Œæ•°æ® (df_medals) ç»“æ„ä¿¡æ¯")
print("=" * 50)
df_medals.info()

print("\n" + "=" * 50)
print("ğŸ“‹ å‰10è¡Œæ•°æ®é¢„è§ˆ")
print("=" * 50)
df_medals.head(10)

==================================================
ğŸ“Š å¥–ç‰Œæ•°æ® (df_medals) ç»“æ„ä¿¡æ¯
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    1435 non-null   int64
 1   NOC     1435 non-null   object
 2   Gold    1435 non-null   int64
 3   Silver  1435 non-null   int64
 4   Bronze  1435 non-null   int64
 5   Total   1435 non-null   int64
 6   Year    1435 non-null   int64
dtypes: int64(6), object(1)
memory usage: 78.6+ KB

==================================================
ğŸ“‹ å‰10è¡Œæ•°æ®é¢„è§ˆ
==================================================

   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896
5     6        Hungary     2       1       3      6  1896
6     7        Austria     2       1       2      5  1896
7     8      Australia     2       0       0      2  1896
8     9        Denmark     1       2       3      6  1896
9    10    Switzerland     1       2       0      3  1896

In [4]:
# æŸ¥çœ‹æ•°æ®çš„æ—¶é—´è·¨åº¦å’Œå›½å®¶æ•°é‡
print("ğŸ“… å¹´ä»½èŒƒå›´:", df_medals['Year'].min(), "-", df_medals['Year'].max())
print("ğŸŒ å‚èµ›å›½å®¶/åœ°åŒºæ•°:", df_medals['NOC'].nunique())
print("ğŸ… å¥¥è¿å±Šæ•°:", df_medals['Year'].nunique())

# æŸ¥çœ‹æœ‰å“ªäº›å¹´ä»½çš„å¥¥è¿ä¼š
print("\nğŸ“† æ‰€æœ‰å¥¥è¿å¹´ä»½:")
print(sorted(df_medals['Year'].unique()))

ğŸ“… å¹´ä»½èŒƒå›´: 1896 - 2024
ğŸŒ å‚èµ›å›½å®¶/åœ°åŒºæ•°: 164
ğŸ… å¥¥è¿å±Šæ•°: 30

ğŸ“† æ‰€æœ‰å¥¥è¿å¹´ä»½:
[np.int64(1896), np.int64(1900), np.int64(1904), np.int64(1908), np.int64(1912), np.int64(1920), np.int64(1924), np.int64(1928), np.int64(1932), np.int64(1936), np.int64(1948), np.int64(1952), np.int64(1956), np.int64(1960), np.int64(1964), np.int64(1968), np.int64(1972), np.int64(1976), np.int64(1980), np.int64(1984), np.int64(1988), np.int64(1992), np.int64(1996), np.int64(2000), np.int64(2004), np.int64(2008), np.int64(2012), np.int64(2016), np.int64(2020), np.int64(2024)]

### 1.2 æŸ¥çœ‹ä¸»åŠåŸå¸‚æ•°æ®

ä¸»åŠåŸå¸‚æ•°æ®å¯¹äºåˆ†æ**"ä¸œé“ä¸»æ•ˆåº”"**è‡³å…³é‡è¦ã€‚ç ”ç©¶è¡¨æ˜ï¼Œä¸œé“å›½é€šå¸¸ä¼šè·å¾—æ¯”å¹³å¸¸æ›´å¤šçš„å¥–ç‰Œã€‚

In [5]:
# æŸ¥çœ‹ä¸»åŠåŸå¸‚æ•°æ®
print("=" * 50)
print("ğŸ  ä¸»åŠåŸå¸‚æ•°æ® (df_hosts)")
print("=" * 50)
df_hosts.info()
print("\n")
df_hosts

==================================================
ğŸ  ä¸»åŠåŸå¸‚æ•°æ® (df_hosts)
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    35 non-null     int64
 1   Host    35 non-null     object
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

    Year                                               Host
0   1896                                    Â Athens,Â Greece
1   1900                                     Â Paris,Â France
2   1904                          Â St. Louis,Â United States
3   1908                            Â London,Â United Kingdom
4   1912                                 Â Stockholm,Â Sweden
5   1916         Â Cancelled (WWI â€“ Berlin had been awarded)
6   1920                                  Â Antwerp,Â Belgium
7   1924                                     Â Paris,Â France
8   1928                            Â Amsterdam,Â Netherlands
9   1932                        Â Los Angeles,Â United States
10  1936                                   Â Berlin,Â Germany
11  1940         Â CancelledÂ (WWII â€“ Tokyo had been awarded)
12  1944        Â CancelledÂ (WWII â€“ London had been awarded)
13  1948                            Â London,Â United Kingdom
14  1952                                 Â Helsinki,Â Finland
15  1956                              Â Melbourne,Â Australia
16  1960                                       Â Rome,Â Italy
17  1964                                      Â Tokyo,Â Japan
18  1968                               Â Mexico City,Â Mexico
19  1972                              Â Munich,Â West Germany
20  1976                                  Â Montreal,Â Canada
21  1980                              Â Moscow,Â Soviet Union
22  1984                        Â Los Angeles,Â United States
23  1988                                Â Seoul,Â South Korea
24  1992                                  Â Barcelona,Â Spain
25  1996                            Â Atlanta,Â United States
26  2000                                 Â Sydney,Â Australia
27  2004                                    Â Athens,Â Greece
28  2008                                    Â Beijing,Â China
29  2012                            Â London,Â United Kingdom
30  2016                            Â Rio de Janeiro,Â Brazil
31  2020  Â Tokyo,Â Japan (postponed to 2021 due to the co...
32  2024                                     Â Paris,Â France
33  2028                        Â Los Angeles,Â United States
34  2032                               Â Brisbane,Â Australia

### 1.3 æŸ¥çœ‹æ¯”èµ›é¡¹ç›®æ•°æ®

æ¯”èµ›é¡¹ç›®æ•°é‡éšå¹´ä»½å˜åŒ–ï¼Œè¿™ä¼šç›´æ¥å½±å“å¯è·å¾—çš„å¥–ç‰Œæ€»æ•°ã€‚äº†è§£è¿™ä¸€ç‚¹å¯¹äº**å½’ä¸€åŒ–å¥–ç‰Œæ•°**å¾ˆé‡è¦ã€‚

In [6]:
# æŸ¥çœ‹æ¯”èµ›é¡¹ç›®æ•°æ®ç»“æ„
print("=" * 50)
print("ğŸ¯ æ¯”èµ›é¡¹ç›®æ•°æ® (df_programs) ç»“æ„")
print("=" * 50)
print(f"è¡Œæ•°: {len(df_programs)}, åˆ—æ•°: {len(df_programs.columns)}")
print(f"\nåˆ—å: {list(df_programs.columns[:10])}... (å‰10åˆ—)")

# æŸ¥çœ‹å‰å‡ è¡Œ
df_programs.head()

==================================================
ğŸ¯ æ¯”èµ›é¡¹ç›®æ•°æ® (df_programs) ç»“æ„
==================================================
è¡Œæ•°: 74, åˆ—æ•°: 35

åˆ—å: ['Sport', 'Discipline', 'Code', 'Sports Governing Body', '1896', '1900', '1904', '1906*', '1908', '1912']... (å‰10åˆ—)

      Sport         Discipline Code Sports Governing Body 1896 1900 1904  1906*  1908 1912  ...  1988 1992  1996  2000  2004  2008  2012  2016  2020  2024
0  Aquatics  Artistic Swimming  SWA        World Aquatics    0    0    0      0     0    0  ...     2    2   1.0   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1  Aquatics             Diving  DIV        World Aquatics    0    0    2      1     2    4  ...     4    4   4.0   8.0   8.0   8.0   8.0   8.0   8.0   8.0
2  Aquatics  Marathon Swimming  OWS        World Aquatics    0    0    0      0     0    0  ...     0    0   0.0   0.0   0.0   2.0   2.0   2.0   2.0   2.0
3  Aquatics           Swimming  SWM        World Aquatics    4    7    9      4     6    9  ...    31   31  32.0  32.0  32.0  32.0  32.0  32.0  35.0  35.0
4  Aquatics         Water Polo  WPO        World Aquatics    0    1    1      0     1    1  ...     1    1   1.0   2.0   2.0   2.0   2.0   2.0   2.0   2.0

[5 rows x 35 columns]

In [7]:
# æŸ¥çœ‹æœ€åå‡ è¡Œï¼Œè¿™é‡Œé€šå¸¸æœ‰æ±‡æ€»ä¿¡æ¯
df_programs.tail(5)

                Sport         Discipline               Code Sports Governing Body 1896 1900 1904  1906*  1908 1912  ...  1988 1992   1996   2000   2004   2008   2012   2016   2020   2024
69            Skating             Figure                FSK                   ISU    0    0    0      0     4    0  ...   NaN  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
70         Ice Hockey         Ice Hockey                IHO                  IIHF    0    0    0      0     0    0  ...   NaN  NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
71       Total events       Total events       Total events          Total events   43   97   95     76   110  102  ...   237  257  271.0  300.0  301.0  302.0  302.0  306.0  339.0  329.0
72  Total disciplines  Total disciplines  Total disciplines     Total disciplines   10   22   18     13    25   18  ...    31   34   37.0   40.0   40.0   42.0   40.0   42.0   50.0   48.0
73       Total sports       Total sports       Total sports          Total sports   11   20   16     11    22   14  ...    23   25   25.0   27.0   27.0   27.0   26.0   28.0   33.0   32.0

[5 rows x 35 columns]

### 1.4 æŸ¥çœ‹è¿åŠ¨å‘˜æ•°æ®

è¿åŠ¨å‘˜æ•°æ®æ˜¯æœ€è¯¦ç»†çš„æ•°æ®è¡¨ï¼ŒåŒ…å«æ¯ä½è¿åŠ¨å‘˜çš„å‚èµ›è®°å½•ã€‚ç”±äºæ•°æ®é‡å¤§ï¼Œæˆ‘ä»¬å¯ä»¥ç”¨å®ƒæ¥**éªŒè¯**æˆ‘ä»¬çš„å¤„ç†ç»“æœï¼Œæˆ–è¿›è¡Œæ›´ç»†ç²’åº¦çš„åˆ†æã€‚

In [8]:
# æŸ¥çœ‹è¿åŠ¨å‘˜æ•°æ®
print("=" * 50)
print("ğŸƒ è¿åŠ¨å‘˜æ•°æ® (df_athletes) ç»“æ„")
print("=" * 50)
df_athletes.info()

print("\n" + "=" * 50)
print("ğŸ“‹ å‰10è¡Œæ•°æ®é¢„è§ˆ")
print("=" * 50)
df_athletes.head(10)

==================================================
ğŸƒ è¿åŠ¨å‘˜æ•°æ® (df_athletes) ç»“æ„
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    100000 non-null  object
 1   Sex     100000 non-null  object
 2   Team    100000 non-null  object
 3   NOC     100000 non-null  object
 4   Year    100000 non-null  int64
 5   City    100000 non-null  object
 6   Sport   100000 non-null  object
 7   Event   100000 non-null  object
 8   Medal   100000 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.9+ MB

==================================================
ğŸ“‹ å‰10è¡Œæ•°æ®é¢„è§ˆ
==================================================

                    Name Sex            Team  NOC  Year         City       Sport                                   Event     Medal
0              A Dijiang   M           China  CHN  1992    Barcelona  Basketball             Basketball Men's Basketball  No medal
1               A Lamusi   M           China  CHN  2012       London        Judo            Judo Men's Extra-Lightweight  No medal
2            Gunnar Aaby   M         Denmark  DEN  1920    Antwerpen    Football                 Football Men's Football  No medal
3            Edgar Aabye   M  Denmark/Sweden  DEN  1900        Paris  Tug-Of-War             Tug-Of-War Men's Tug-Of-War      Gold
4  Cornelia (-strannood)   F     Netherlands  NED  1932  Los Angeles   Athletics            Athletics Women's 100 metres  No medal
5  Cornelia (-strannood)   F     Netherlands  NED  1932  Los Angeles   Athletics  Athletics Women's 4 x 100 metres Relay  No medal
6            Einar Aalto   M         Finland  FIN  1952     Helsinki    Swimming     Swimming Men's 400 metres Freestyle  No medal
7             Jyri Aalto   M         Finland  FIN  2000       Sydney   Badminton                 Badminton Men's Singles  No medal
8            Minna Aalto   F         Finland  FIN  1996      Atlanta     Sailing              Sailing Women's Windsurfer  No medal
9            Minna Aalto   F         Finland  FIN  2000       Sydney     Sailing              Sailing Women's Windsurfer  No medal

### ğŸ“ 1.5 æ•°æ®åˆæ¢æ€»ç»“

é€šè¿‡åˆæ­¥æŸ¥çœ‹ï¼Œæˆ‘ä»¬è§‚å¯Ÿåˆ°ä»¥ä¸‹é‡è¦ä¿¡æ¯ï¼š

**å…³äºå¥–ç‰Œæ•°æ® (`df_medals`)ï¼š**
- æ•°æ®è¦†ç›–1896å¹´è‡³2024å¹´çš„å¤å­£å¥¥è¿ä¼š
- `NOC`å­—æ®µä½¿ç”¨çš„æ˜¯å›½å®¶**å…¨å**ï¼ˆå¦‚"United States"ï¼‰ï¼Œè€Œé3å­—æ¯ä»£ç 
- å­˜åœ¨å†å²å®ä½“ï¼ˆå¦‚"Soviet Union"ã€"Mixed team"ç­‰ï¼‰

**å…³äºä¸»åŠåŸå¸‚æ•°æ® (`df_hosts`)ï¼š**
- åŒ…å«äº†è¢«å–æ¶ˆçš„å¥¥è¿ä¼šï¼ˆ1916ã€1940ã€1944å¹´ï¼‰
- ä¹ŸåŒ…å«æœªæ¥çš„å¥¥è¿ä¼šï¼ˆ2028ã€2032å¹´ï¼‰
- Hostå­—æ®µæ ¼å¼ä¸º"åŸå¸‚, å›½å®¶"ï¼Œéœ€è¦è§£æ

**å…³äºæ¯”èµ›é¡¹ç›®æ•°æ® (`df_programs`)ï¼š**
- è¿™æ˜¯ä¸€ä¸ª**å®½è¡¨**ï¼Œæ¯å¹´çš„é¡¹ç›®æ•°ä½œä¸ºå•ç‹¬çš„åˆ—
- æœ€åå‡ è¡ŒåŒ…å«æ±‡æ€»ç»Ÿè®¡ï¼ˆæ€»é¡¹ç›®æ•°ã€æ€»å­¦ç§‘æ•°ç­‰ï¼‰
- éœ€è¦è½¬æ¢ä¸º**é•¿è¡¨**æ ¼å¼æ‰èƒ½ä¸å…¶ä»–æ•°æ®åˆå¹¶

**å…³äºè¿åŠ¨å‘˜æ•°æ® (`df_athletes`)ï¼š**
- ä½¿ç”¨å›½å®¶**3å­—æ¯ä»£ç **ï¼ˆå¦‚"CHN"ã€"USA"ï¼‰
- ä¸å¥–ç‰Œæ•°æ®çš„å‘½åæ–¹å¼ä¸åŒï¼Œéœ€è¦æ³¨æ„æ˜ å°„å…³ç³»
- å¯ç”¨äºéªŒè¯å¤„ç†ç»“æœçš„å‡†ç¡®æ€§

---

æ¥ä¸‹æ¥ï¼Œæˆ‘ä»¬å°†è¿›å…¥**æ•°æ®æ¸…æ´—ä¸åˆå¹¶**é˜¶æ®µã€‚

---

## 2. æ•°æ®æ¸…æ´—ä¸åˆå¹¶

### 2.1 å¥–ç‰Œæ•°æ®æ¸…æ´—ï¼šå¤„ç†ç¼ºå¤±å€¼ä¸å†å²å®ä½“

#### ä¸ºä»€ä¹ˆè¦å¤„ç†ç¼ºå¤±å€¼ï¼Ÿ

åœ¨å¥¥è¿å¥–ç‰Œæ•°æ®ä¸­ï¼Œç¼ºå¤±å€¼é€šå¸¸æœ‰ä¸¤ç§ä¸šåŠ¡å«ä¹‰ï¼š
1. **è¯¥å›½å½“å±Šæœªå‚èµ›** - åº”è¯¥æ’é™¤åœ¨åˆ†æä¹‹å¤–
2. **è¯¥å›½å‚èµ›ä½†æœªè·å¥–** - åº”è¯¥å¡«å……ä¸º0

åœ¨æˆ‘ä»¬çš„æ•°æ®é›†ä¸­ï¼Œåªæœ‰**è·å¾—å¥–ç‰Œçš„å›½å®¶**æ‰ä¼šå‡ºç°åœ¨è®°å½•ä¸­ï¼Œå› æ­¤å½“å‰æ•°æ®é›†ä¸å­˜åœ¨çœŸæ­£çš„"ç¼ºå¤±å€¼"ã€‚ä½†åœ¨åˆå¹¶å…¶ä»–æ•°æ®åï¼Œå¯èƒ½ä¼šäº§ç”Ÿç¼ºå¤±ï¼Œæ­¤æ—¶å¡«å……ä¸º0æ˜¯åˆç†çš„ä¸šåŠ¡é€»è¾‘ã€‚

#### å…³äºå†å²å®ä½“ï¼ˆå¦‚è‹è” URSï¼‰

å†å²ä¸Šå­˜åœ¨ä¸€äº›å·²è§£ä½“æˆ–æ”¹åçš„å›½å®¶/åœ°åŒºï¼š
- **è‹è” (Soviet Union)** â†’ è§£ä½“ååˆ†ä¸ºä¿„ç½—æ–¯ã€ä¹Œå…‹å…°ç­‰å¤šå›½
- **ä¸œå¾·/è¥¿å¾·** â†’ ç»Ÿä¸€ä¸ºå¾·å›½
- **å—æ–¯æ‹‰å¤«** â†’ åˆ†è£‚ä¸ºå¡å°”ç»´äºšã€å…‹ç½—åœ°äºšç­‰

**æˆ‘ä»¬çš„å¤„ç†ç­–ç•¥**ï¼šä¿ç•™åŸå§‹è®°å½•ä½œä¸ºç‹¬ç«‹ç‰¹å¾ï¼Œè€Œéç®€å•åˆå¹¶ã€‚åŸå› æ˜¯ï¼š
1. å†å²è¡¨ç°æ˜¯é‡è¦çš„é¢„æµ‹ä¿¡å·
2. ç®€å•åˆå¹¶ä¼šæ‰­æ›²å†å²æ•°æ®çš„ç»Ÿè®¡ç‰¹å¾
3. æ¨¡å‹å¯ä»¥å­¦ä¹ åˆ°"ç»§æ‰¿å›½"ä¸"å‰èº«å›½"ä¹‹é—´çš„å…³ç³»

In [9]:
# æ£€æŸ¥å¥–ç‰Œæ•°æ®çš„ç¼ºå¤±å€¼æƒ…å†µ
print("=" * 50)
print("ğŸ” å¥–ç‰Œæ•°æ®ç¼ºå¤±å€¼æ£€æŸ¥")
print("=" * 50)
print(df_medals.isnull().sum())

print("\n" + "=" * 50)
print("ğŸ“Š å¥–ç‰Œæ•°æ®åŸºæœ¬ç»Ÿè®¡")
print("=" * 50)
df_medals.describe()

==================================================
ğŸ” å¥–ç‰Œæ•°æ®ç¼ºå¤±å€¼æ£€æŸ¥
==================================================
Rank      0
NOC       0
Gold      0
Silver    0
Bronze    0
Total     0
Year      0
dtype: int64

==================================================
ğŸ“Š å¥–ç‰Œæ•°æ®åŸºæœ¬ç»Ÿè®¡
==================================================

              Rank         Gold       Silver       Bronze        Total         Year
count  1435.000000  1435.000000  1435.000000  1435.000000  1435.000000  1435.000000
mean     30.334495     4.048084     4.025784     4.384669    12.458537  1981.828571
std      21.920604     8.390142     7.100987     6.822294    21.582579    34.188111
min       1.000000     0.000000     0.000000     0.000000     1.000000  1896.000000
25%      12.000000     0.000000     0.000000     1.000000     2.000000  1960.000000
50%      26.000000     1.000000     2.000000     2.000000     5.000000  1992.000000
75%      43.500000     4.000000     4.000000     5.000000    13.000000  2008.000000
max      86.000000    83.000000    78.000000    77.000000   231.000000  2024.000000

In [10]:
# æ£€æŸ¥é‡å¤å€¼
duplicates = df_medals.duplicated(subset=['NOC', 'Year'], keep=False)
print(f"ğŸ”„ æ˜¯å¦å­˜åœ¨åŒä¸€å›½å®¶åŒä¸€å¹´çš„é‡å¤è®°å½•: {duplicates.any()}")

if duplicates.any():
    print("\né‡å¤è®°å½•ç¤ºä¾‹:")
    print(df_medals[duplicates].head(10))

ğŸ”„ æ˜¯å¦å­˜åœ¨åŒä¸€å›½å®¶åŒä¸€å¹´çš„é‡å¤è®°å½•: False

In [11]:
# æŸ¥çœ‹æœ‰å“ªäº›ç‰¹æ®Šçš„å›½å®¶/åœ°åŒºå®ä½“
print("=" * 50)
print("ğŸŒ æ‰€æœ‰å›½å®¶/åœ°åŒºå®ä½“åˆ—è¡¨ (æŒ‰åç§°æ’åº)")
print("=" * 50)
all_countries = sorted(df_medals['NOC'].unique())
print(f"å…± {len(all_countries)} ä¸ªå®ä½“ï¼š\n")
for i, c in enumerate(all_countries, 1):
    print(f"{i:3d}. {c}")

==================================================
ğŸŒ æ‰€æœ‰å›½å®¶/åœ°åŒºå®ä½“åˆ—è¡¨ (æŒ‰åç§°æ’åº)
==================================================
å…± 164 ä¸ªå®ä½“ï¼š

  1. Afghanistan
  2. Albania
  3. Algeria
  4. Argentina
  5. Armenia
  6. Australasia
  7. Australia
  8. Austria
  9. Azerbaijan
 10. Bahamas
 11. Bahrain
 12. Barbados
 13. Belarus
 14. Belgium
 15. Bermuda
 16. Bohemia
 17. Botswana
 18. Brazil
 19. British West Indies
 20. Bulgaria
 21. Burkina Faso
 22. Burundi
 23. Cabo Verde
 24. Cameroon
 25. Canada
 26. Ceylon
 27. Chile
 28. China
 29. Chinese Taipei
 30. Colombia
 31. Costa Rica
 32. Croatia
 33. Cuba
 34. Cyprus
 35. Czech Republic
 36. Czechoslovakia
 37. Denmark
 38. Djibouti
 39. Dominica
 40. Dominican Republic
 41. East Germany
 42. Ecuador
 43. Egypt
 44. Eritrea
 45. Estonia
 46. Ethiopia
 47. FR Yugoslavia
 48. Fiji
 49. Finland
 50. Formosa
 51. France
 52. Gabon
 53. Georgia
 54. Germany
 55. Ghana
 56. Great Britain
 57. Greece
 58. Grenada
 59. Guatemala
 60. Guyana
 61. Haiti
 62. Hong Kong
 63. Hungary
 64. Iceland
 65. Independent Olympic Athletes
 66. Independent Olympic Participants
 67. India
 68. Indonesia
 69. Iran
 70. Iraq
 71. Ireland
 72. Israel
 73. Italy
 74. Ivory Coast
 75. Jamaica
 76. Japan
 77. Jordan
 78. Kazakhstan
 79. Kenya
 80. Kosovo
 81. Kuwait
 82. Kyrgyzstan
 83. Latvia
 84. Lebanon
 85. Lithuania
 86. Luxembourg
 87. Macedonia
 88. Malaysia
 89. Mauritius
 90. Mexico
 91. Mixed team
 92. Moldova
 93. Mongolia
 94. Montenegro
 95. Morocco
 96. Mozambique
 97. Namibia
 98. Netherlands
 99. Netherlands Antilles
100. New Zealand
101. Niger
102. Nigeria
103. North Korea
104. North Macedonia
105. Norway
106. Pakistan
107. Panama
108. Paraguay
109. Peru
110. Philippines
111. Poland
112. Portugal
113. Puerto Rico
114. Qatar
115. ROC
116. Refugee Olympic Team
117. Romania
118. Russia
119. Russian Empire
120. Saint Lucia
121. Samoa
122. San Marino
123. Saudi Arabia
124. Senegal
125. Serbia
126. Serbia and Montenegro
127. Singapore
128. Slovakia
129. Slovenia
130. South Africa
131. South Korea
132. Soviet Union
133. Spain
134. Sri Lanka
135. Sudan
136. Suriname
137. Sweden
138. Switzerland
139. Syria
140. Taiwan
141. Tajikistan
142. Tanzania
143. Thailand
144. Togo
145. Tonga
146. Trinidad and Tobago
147. Tunisia
148. Turkey
149. Turkmenistan
150. Uganda
151. Ukraine
152. Unified Team
153. United Arab Emirates
154. United States
155. United Team of Germany
156. Uruguay
157. Uzbekistan
158. Venezuela
159. Vietnam
160. Virgin Islands
161. West Germany
162. Yugoslavia
163. Zambia
164. Zimbabwe

In [12]:
# è¯†åˆ«å¯èƒ½çš„å†å²å®ä½“ï¼ˆé€šè¿‡åç§°ç‰¹å¾è¯†åˆ«ï¼‰
historical_keywords = ['Soviet', 'Yugoslavia', 'Czechoslov', 'East Germany', 'West Germany', 
                       'United Team', 'Mixed team', 'Independent', 'Refugee']

print("=" * 50)
print("ğŸ“œ ç–‘ä¼¼å†å²å®ä½“æˆ–ç‰¹æ®Šå®ä½“")
print("=" * 50)

for country in all_countries:
    for keyword in historical_keywords:
        if keyword.lower() in country.lower():
            # æŸ¥çœ‹è¯¥å®ä½“çš„å‚èµ›å¹´ä»½èŒƒå›´
            years = df_medals[df_medals['NOC'] == country]['Year']
            print(f"  - {country}: {years.min()}-{years.max()} ({len(years)}å±Š)")
            break

==================================================
ğŸ“œ ç–‘ä¼¼å†å²å®ä½“æˆ–ç‰¹æ®Šå®ä½“
==================================================
  - Czechoslovakia: 1920-1992 (16å±Š)
  - East Germany: 1968-1988 (5å±Š)
  - FR Yugoslavia: 1996-2000 (2å±Š)
  - Independent Olympic Athletes: 2016-2016 (1å±Š)
  - Independent Olympic Participants: 1992-1992 (1å±Š)
  - Mixed team: 1896-1904 (3å±Š)
  - Refugee Olympic Team: 2024-2024 (1å±Š)
  - Soviet Union: 1952-1988 (9å±Š)
  - United Team of Germany: 1956-1964 (3å±Š)
  - West Germany: 1968-1988 (5å±Š)
  - Yugoslavia: 1924-1988 (14å±Š)

### 2.2 æ ¸å¿ƒæ•°æ®åˆå¹¶ï¼šæ„å»ºåˆ†æä¸»è¡¨

#### åˆå¹¶ç­–ç•¥

æˆ‘ä»¬å°†ä»¥ `df_medals`ï¼ˆå¥–ç‰Œæ•°æ®ï¼‰ä¸º**äº‹å®è¡¨**ï¼Œä¾æ¬¡åˆå¹¶å…¶ä»–ç»´åº¦è¡¨ï¼š

1. **å·¦è¿æ¥ `hosts` è¡¨** â†’ æ·»åŠ ä¸œé“ä¸»æ ‡å¿—
2. **å·¦è¿æ¥ `programs` æ±‡æ€»æ•°æ®** â†’ æ·»åŠ å½“å±Šæ€»é¡¹ç›®æ•°

#### ä¸ºä»€ä¹ˆé€‰æ‹©å·¦è¿æ¥ï¼ˆLEFT JOINï¼‰ï¼Ÿ

- **ä¿ç•™æ‰€æœ‰å›½å®¶çš„å¥–ç‰Œè®°å½•**ï¼šå³ä½¿æŸäº›å¹´ä»½çš„ä¸»åŠä¿¡æ¯ç¼ºå¤±ï¼Œä¹Ÿä¸åº”ä¸¢å¤±å¥–ç‰Œæ•°æ®
- **é¿å…æ•°æ®ä¸¢å¤±**ï¼šå†…è¿æ¥ï¼ˆINNER JOINï¼‰å¯èƒ½å› é”®ä¸åŒ¹é…è€Œä¸¢å¤±æ•°æ®

#### å…³äº"ä¸œé“ä¸»æ•ˆåº”"

ç ”ç©¶è¡¨æ˜ï¼Œä¸œé“å›½é€šå¸¸ä¼šè·å¾—æ¯”å¹³å¸¸å¤š20-30%çš„å¥–ç‰Œã€‚å¯èƒ½åŸå› åŒ…æ‹¬ï¼š
- ä¸»åœºè§‚ä¼—æ”¯æŒ
- æ— éœ€é•¿é€”æ—…è¡Œï¼Œè¿åŠ¨å‘˜çŠ¶æ€æ›´å¥½
- ä¸œé“å›½é€šå¸¸ä¼šå¢åŠ ä½“è‚²æŠ•å…¥
- éƒ¨åˆ†é¡¹ç›®å¯èƒ½å­˜åœ¨è£åˆ¤å€¾å‘

In [13]:
# é¦–å…ˆï¼Œæ¸…ç†hostsæ•°æ®å¹¶æå–ä¸œé“å›½ä¿¡æ¯
print("=" * 50)
print("ğŸ  å¤„ç†ä¸»åŠåŸå¸‚æ•°æ®")
print("=" * 50)

# æŸ¥çœ‹Hostå­—æ®µçš„æ ¼å¼ï¼ˆæ³¨æ„ï¼šåŸå§‹æ•°æ®ä¸­ä½¿ç”¨äº†ç‰¹æ®Šç©ºæ ¼å­—ç¬¦\xa0ï¼‰
print("åŸå§‹Hostå­—æ®µç¤ºä¾‹:")
print(df_hosts['Host'].head(10).tolist())

# åˆ›å»ºhostsçš„å‰¯æœ¬è¿›è¡Œå¤„ç†
df_hosts_clean = df_hosts.copy()

# è¿‡æ»¤æ‰è¢«å–æ¶ˆçš„å¥¥è¿ä¼šï¼ˆCancelledï¼‰
df_hosts_clean = df_hosts_clean[~df_hosts_clean['Host'].str.contains('Cancelled', na=False)]

# ä»Hostå­—æ®µæå–å›½å®¶åç§°
# æ³¨æ„ï¼šåŸå§‹æ•°æ®ä½¿ç”¨äº†\xa0ï¼ˆéæ–­è¡Œç©ºæ ¼ï¼‰ï¼Œéœ€è¦ç‰¹æ®Šå¤„ç†
def extract_country(host_str):
    """ä»Hostå­—æ®µæå–å›½å®¶åç§°"""
    if pd.isna(host_str):
        return None
    # å…ˆæ›¿æ¢ç‰¹æ®Šç©ºæ ¼å­—ç¬¦ä¸ºæ™®é€šç©ºæ ¼ï¼Œå†å»é™¤å‰åç©ºæ ¼
    host_str = host_str.replace('\xa0', ' ').strip()
    # ç”¨é€—å·åˆ†å‰²ï¼Œå–æœ€åä¸€éƒ¨åˆ†ï¼ˆå›½å®¶åï¼‰
    parts = host_str.split(',')
    if len(parts) >= 2:
        country = parts[-1].strip()
        # å¤„ç†ç‰¹æ®Šæƒ…å†µå¦‚ "Japan (postponed...)"
        if '(' in country:
            country = country.split('(')[0].strip()
        return country
    return host_str

df_hosts_clean['Host_Country'] = df_hosts_clean['Host'].apply(extract_country)

print("\næå–çš„ä¸œé“å›½:")
print(df_hosts_clean[['Year', 'Host', 'Host_Country']].head(15))

==================================================
ğŸ  å¤„ç†ä¸»åŠåŸå¸‚æ•°æ®
==================================================
åŸå§‹Hostå­—æ®µç¤ºä¾‹:
['\xa0Athens,\xa0Greece', '\xa0Paris,\xa0France', '\xa0St. Louis,\xa0United States', '\xa0London,\xa0United Kingdom', '\xa0Stockholm,\xa0Sweden', '\xa0Cancelled (WWI â€“ Berlin had been awarded)', '\xa0Antwerp,\xa0Belgium', '\xa0Paris,\xa0France', '\xa0Amsterdam,\xa0Netherlands', '\xa0Los Angeles,\xa0United States']

æå–çš„ä¸œé“å›½:
    Year                         Host    Host_Country
0   1896              Â Athens,Â Greece          Greece
1   1900               Â Paris,Â France          France
2   1904    Â St. Louis,Â United States   United States
3   1908      Â London,Â United Kingdom  United Kingdom
4   1912           Â Stockholm,Â Sweden          Sweden
6   1920            Â Antwerp,Â Belgium         Belgium
7   1924               Â Paris,Â France          France
8   1928      Â Amsterdam,Â Netherlands     Netherlands
9   1932  Â Los Angeles,Â United States   United States
10  1936             Â Berlin,Â Germany         Germany
13  1948      Â London,Â United Kingdom  United Kingdom
14  1952           Â Helsinki,Â Finland         Finland
15  1956        Â Melbourne,Â Australia       Australia
16  1960                 Â Rome,Â Italy           Italy
17  1964                Â Tokyo,Â Japan           Japan

In [16]:
# åˆ›å»ºå›½å®¶åç§°æ˜ å°„è¡¨ï¼ˆç”¨äºåŒ¹é…ä¸åŒå‘½åæ–¹å¼ï¼‰
# æ³¨æ„ï¼šdf_medalsä¸­ä½¿ç”¨å…¨åï¼Œdf_hostsä¸­ä¹Ÿä½¿ç”¨å…¨åï¼Œä½†å¯èƒ½å­˜åœ¨ç»†å¾®å·®å¼‚

# æŸ¥çœ‹hostsä¸­çš„å›½å®¶åç§°
print("hostsä¸­çš„å›½å®¶åç§°:")
print(sorted(df_hosts_clean['Host_Country'].unique()))

# åˆ›å»ºåç§°æ ‡å‡†åŒ–æ˜ å°„
country_name_mapping = {
    'United States': 'United States',
    'United Kingdom': 'Great Britain',  # å¥¥è¿ä¼šä¸­è‹±å›½ä½¿ç”¨"Great Britain"
    'Soviet Union': 'Soviet Union',
    'West Germany': 'West Germany',
    'South Korea': 'South Korea',
    'Greece': 'Greece',
    'France': 'France',
    'Sweden': 'Sweden',
    'Belgium': 'Belgium',
    'Netherlands': 'Netherlands',
    'Germany': 'Germany',
    'Finland': 'Finland',
    'Australia': 'Australia',
    'Italy': 'Italy',
    'Japan': 'Japan',
    'Mexico': 'Mexico',
    'Canada': 'Canada',
    'Spain': 'Spain',
    'China': 'China',
    'Brazil': 'Brazil',
}

# åº”ç”¨æ˜ å°„
df_hosts_clean['Host_Country_Mapped'] = df_hosts_clean['Host_Country'].map(
    lambda x: country_name_mapping.get(x, x)
)

print("\næ˜ å°„åçš„å›½å®¶åç§°:")
print(df_hosts_clean[['Year', 'Host_Country', 'Host_Country_Mapped']].head(15))

hostsä¸­çš„å›½å®¶åç§°:
['Australia', 'Belgium', 'Brazil', 'Canada', 'China', 'Finland', 'France', 'Germany', 'Greece', 'Italy', 'Japan', 'Mexico', 'Netherlands', 'South Korea', 'Soviet Union', 'Spain', 'Sweden', 'United Kingdom', 'United States', 'West Germany']

æ˜ å°„åçš„å›½å®¶åç§°:
    Year    Host_Country Host_Country_Mapped
0   1896          Greece              Greece
1   1900          France              France
2   1904   United States       United States
3   1908  United Kingdom       Great Britain
4   1912          Sweden              Sweden
6   1920         Belgium             Belgium
7   1924          France              France
8   1928     Netherlands         Netherlands
9   1932   United States       United States
10  1936         Germany             Germany
13  1948  United Kingdom       Great Britain
14  1952         Finland             Finland
15  1956       Australia           Australia
16  1960           Italy               Italy
17  1964           Japan               Japan

In [17]:
# å¼€å§‹æ„å»ºä¸»è¡¨
# ç¬¬ä¸€æ­¥ï¼šå¤åˆ¶å¥–ç‰Œæ•°æ®ä½œä¸ºåŸºç¡€
df_main = df_medals.copy()

# ç¬¬äºŒæ­¥ï¼šæ·»åŠ ä¸œé“ä¸»æ ‡å¿—
# åˆ›å»ºyear-hostæ˜ å°„
year_host_map = dict(zip(df_hosts_clean['Year'], df_hosts_clean['Host_Country_Mapped']))

# åˆ¤æ–­æ˜¯å¦ä¸ºä¸œé“ä¸»ï¼šå½“å¹´çš„ä¸œé“å›½ä¸è¯¥å›½åç§°åŒ¹é…
df_main['is_host'] = df_main.apply(
    lambda row: 1 if year_host_map.get(row['Year']) == row['NOC'] else 0,
    axis=1
)

print("=" * 50)
print("ğŸ  ä¸œé“ä¸»æ ‡å¿—æ·»åŠ å®Œæˆ")
print("=" * 50)
print(f"\nä¸œé“ä¸»è®°å½•æ•°: {df_main['is_host'].sum()}")
print(f"éä¸œé“ä¸»è®°å½•æ•°: {(df_main['is_host'] == 0).sum()}")

# æŸ¥çœ‹ä¸œé“ä¸»è®°å½•
print("\nä¸œé“ä¸»è®°å½•ç¤ºä¾‹:")
print(df_main[df_main['is_host'] == 1][['Year', 'NOC', 'Gold', 'Silver', 'Bronze', 'Total', 'is_host']])

==================================================
ğŸ  ä¸œé“ä¸»æ ‡å¿—æ·»åŠ å®Œæˆ
==================================================

ä¸œé“ä¸»è®°å½•æ•°: 30
éä¸œé“ä¸»è®°å½•æ•°: 1405

ä¸œé“ä¸»è®°å½•ç¤ºä¾‹:
      Year            NOC  Gold  Silver  Bronze  Total  is_host
1     1896         Greece    10      18      19     47        1
11    1900         France    27      39      37    103        1
32    1904  United States    76      78      77    231        1
45    1908  Great Britain    56      51      39    146        1
65    1912         Sweden    23      25      17     65        1
86    1920        Belgium    14      11      11     36        1
106   1924         France    13      15      10     38        1
138   1928    Netherlands     6       9       4     19        1
164   1932  United States    44      36      30    110        1
192   1936        Germany    38      31      32    101        1
235   1948  Great Britain     3      14       6     23        1
268   1952        Finland     6       3      13     22        1
306   1956      Australia    13       8      14     35        1
344   1960          Italy    13      10      13     36        1
388   1964          Japan    16       5       8     29        1
441   1968         Mexico     3       3       3      9        1
474   1972   West Germany    13      11      16     40        1
545   1976         Canada     0       5       6     11        1
560   1980   Soviet Union    80      69      46    195        1
596   1984  United States    83      61      30    174        1
646   1988    South Korea    12      10      11     33        1
700   1992          Spain    13       7       2     22        1
759   1996  United States    44      32      25    101        1
841   2000      Australia    16      25      17     58        1
932   2004         Greece     6       6       4     16        1
992   2008          China    48      22      30    100        1
1081  2012  Great Britain    29      18      18     65        1
1177  2016         Brazil     7       6       6     19        1
1253  2020          Japan    27      14      17     58        1
1348  2024         France    16      26      22     64        1

In [18]:
# ç¬¬ä¸‰æ­¥ï¼šæ·»åŠ å½“å±Šæ€»é¡¹ç›®æ•°
# ä»programsæ•°æ®ä¸­æå–æ€»é¡¹ç›®æ•°ï¼ˆæœ€åå‡ è¡Œæœ‰æ±‡æ€»ï¼‰

# æ‰¾åˆ°"Total events"è¡Œ
total_events_row = df_programs[df_programs['Sport'] == 'Total events']
print("æ€»é¡¹ç›®æ•°è¡Œ:")
print(total_events_row)

# æå–å„å¹´ä»½çš„æ€»é¡¹ç›®æ•°ï¼ˆåˆ—åæ˜¯å¹´ä»½ï¼‰
# è·å–å¹´ä»½åˆ—ï¼ˆä»ç¬¬5åˆ—å¼€å§‹ï¼Œè·³è¿‡Sport, Discipline, Code, Sports Governing Bodyï¼‰
year_columns = [col for col in df_programs.columns[4:] if col.replace('*', '').isdigit()]
print(f"\nå¹´ä»½åˆ—: {year_columns}")

æ€»é¡¹ç›®æ•°è¡Œ:
           Sport    Discipline          Code Sports Governing Body 1896 1900 1904  1906*  1908 1912  ...  1988 1992   1996   2000   2004   2008   2012   2016   2020   2024
71  Total events  Total events  Total events          Total events   43   97   95     76   110  102  ...   237  257  271.0  300.0  301.0  302.0  302.0  306.0  339.0  329.0

[1 rows x 35 columns]

å¹´ä»½åˆ—: ['1896', '1900', '1904', '1906*', '1908', '1912', '1920', '1924', '1928', '1932', '1936', '1948', '1952', '1956', '1960', '1964', '1968', '1972', '1976', '1980', '1984', '1988', '1992', '1996', '2000', '2004', '2008', '2012', '2016', '2020', '2024']

In [19]:
# åˆ›å»ºå¹´ä»½åˆ°æ€»é¡¹ç›®æ•°çš„æ˜ å°„
total_events_row = df_programs[df_programs['Sport'] == 'Total events'].iloc[0]

year_to_events = {}
for col in year_columns:
    # å¤„ç†å¹´ä»½åˆ—åï¼ˆå¯èƒ½æœ‰*å·ï¼Œå¦‚1906*ï¼‰
    year = int(col.replace('*', ''))
    try:
        events = int(total_events_row[col])
        year_to_events[year] = events
    except (ValueError, TypeError):
        pass

print("å„å±Šå¥¥è¿ä¼šæ€»é¡¹ç›®æ•°:")
for year, events in sorted(year_to_events.items()):
    print(f"  {year}: {events}é¡¹")

å„å±Šå¥¥è¿ä¼šæ€»é¡¹ç›®æ•°:
  1896: 43é¡¹
  1900: 97é¡¹
  1904: 95é¡¹
  1906: 76é¡¹
  1908: 110é¡¹
  1912: 102é¡¹
  1920: 156é¡¹
  1924: 126é¡¹
  1928: 109é¡¹
  1932: 117é¡¹
  1936: 129é¡¹
  1948: 136é¡¹
  1952: 149é¡¹
  1956: 151é¡¹
  1960: 150é¡¹
  1964: 163é¡¹
  1968: 172é¡¹
  1972: 195é¡¹
  1976: 198é¡¹
  1980: 203é¡¹
  1984: 221é¡¹
  1988: 237é¡¹
  1992: 257é¡¹
  1996: 271é¡¹
  2000: 300é¡¹
  2004: 301é¡¹
  2008: 302é¡¹
  2012: 302é¡¹
  2016: 306é¡¹
  2020: 339é¡¹
  2024: 329é¡¹

In [20]:
# å°†æ€»é¡¹ç›®æ•°æ·»åŠ åˆ°ä¸»è¡¨
df_main['total_events'] = df_main['Year'].map(year_to_events)

print("=" * 50)
print("ğŸ¯ æ€»é¡¹ç›®æ•°æ·»åŠ å®Œæˆ")
print("=" * 50)

# æ£€æŸ¥æ˜¯å¦æœ‰ç¼ºå¤±
print(f"\nç¼ºå¤±å€¼æ£€æŸ¥:")
print(df_main['total_events'].isnull().sum(), "æ¡è®°å½•ç¼ºå°‘æ€»é¡¹ç›®æ•°")

# æŸ¥çœ‹ç¼ºå¤±çš„å¹´ä»½
if df_main['total_events'].isnull().any():
    print("\nç¼ºå¤±æ€»é¡¹ç›®æ•°çš„å¹´ä»½:")
    print(df_main[df_main['total_events'].isnull()]['Year'].unique())

==================================================
ğŸ¯ æ€»é¡¹ç›®æ•°æ·»åŠ å®Œæˆ
==================================================

ç¼ºå¤±å€¼æ£€æŸ¥:
0 æ¡è®°å½•ç¼ºå°‘æ€»é¡¹ç›®æ•°

In [ ]:
# è®¡ç®—å¥–ç‰Œå æ¯”ï¼ˆå½’ä¸€åŒ–æŒ‡æ ‡ï¼‰
# è¿™ä¸ªæŒ‡æ ‡æ¶ˆé™¤äº†ä¸åŒå±Šæ¬¡é¡¹ç›®æ•°é‡å·®å¼‚çš„å½±å“
df_main['medal_ratio'] = df_main['Total'] / df_main['total_events']

print("=" * 50)
print("ğŸ“Š ä¸»è¡¨æ„å»ºå®Œæˆ - æŸ¥çœ‹ç»“æœ")
print("=" * 50)
print(f"\nä¸»è¡¨å½¢çŠ¶: {df_main.shape}")
print(f"åˆ—å: {list(df_main.columns)}")

# æŸ¥çœ‹æ ·ä¾‹æ•°æ®
print("\næ ·ä¾‹æ•°æ®ï¼ˆ2024å¹´ï¼‰:")
df_main[df_main['Year'] == 2024].head(10)

### 2.3 åˆå¹¶ç»“æœéªŒè¯

æ•°æ®åˆå¹¶åï¼Œæˆ‘ä»¬éœ€è¦éªŒè¯ç»“æœçš„æ­£ç¡®æ€§ã€‚ä¸»è¦æ£€æŸ¥ï¼š

1. **ä¸œé“ä¸»æ ‡å¿—**ï¼šæ¯å±Šåº”è¯¥åªæœ‰ä¸€ä¸ªä¸œé“ä¸»ï¼ˆç‰¹æ®Šæƒ…å†µé™¤å¤–ï¼‰
2. **é¡¹ç›®æ•°ä¸€è‡´æ€§**ï¼šä¸å®˜æ–¹æ•°æ®å¯¹ç…§
3. **æ•°æ®å®Œæ•´æ€§**ï¼šæ— æ„å¤–çš„ç¼ºå¤±å€¼

In [21]:
# éªŒè¯1ï¼šæ£€æŸ¥æ¯å±Šçš„ä¸œé“ä¸»æ•°é‡
print("=" * 50)
print("âœ… éªŒè¯1ï¼šæ¯å±Šä¸œé“ä¸»æ•°é‡")
print("=" * 50)

host_counts = df_main.groupby('Year')['is_host'].sum()
print("\næ¯å±Šä¸œé“ä¸»æ•°é‡:")
print(host_counts[host_counts > 0])  # åªæ˜¾ç¤ºæœ‰ä¸œé“ä¸»çš„å¹´ä»½

# æ£€æŸ¥æ˜¯å¦æœ‰å¼‚å¸¸ï¼ˆä¸€å±Šå¤šä¸ªæˆ–é›¶ä¸ªä¸œé“ä¸»ï¼‰
abnormal = host_counts[(host_counts > 1) | (host_counts == 0)]
if len(abnormal) > 0:
    print(f"\nâš ï¸ å¼‚å¸¸å¹´ä»½ï¼ˆä¸œé“ä¸»æ•°é‡ä¸ä¸º1ï¼‰: {list(abnormal.index)}")
else:
    print("\nâœ… æ‰€æœ‰å¹´ä»½çš„ä¸œé“ä¸»æ•°é‡æ­£å¸¸")

==================================================
âœ… éªŒè¯1ï¼šæ¯å±Šä¸œé“ä¸»æ•°é‡
==================================================

æ¯å±Šä¸œé“ä¸»æ•°é‡:
Year
1896    1
1900    1
1904    1
1908    1
1912    1
1920    1
1924    1
1928    1
1932    1
1936    1
1948    1
1952    1
1956    1
1960    1
1964    1
1968    1
1972    1
1976    1
1980    1
1984    1
1988    1
1992    1
1996    1
2000    1
2004    1
2008    1
2012    1
2016    1
2020    1
2024    1
Name: is_host, dtype: int64

âœ… æ‰€æœ‰å¹´ä»½çš„ä¸œé“ä¸»æ•°é‡æ­£å¸¸

In [22]:
# éªŒè¯2ï¼šæ£€æŸ¥æ•°æ®å®Œæ•´æ€§
print("=" * 50)
print("âœ… éªŒè¯2ï¼šæ•°æ®å®Œæ•´æ€§æ£€æŸ¥")
print("=" * 50)

print("\nå„åˆ—ç¼ºå¤±å€¼ç»Ÿè®¡:")
print(df_main.isnull().sum())

print("\næ•°æ®ç±»å‹:")
print(df_main.dtypes)

==================================================
âœ… éªŒè¯2ï¼šæ•°æ®å®Œæ•´æ€§æ£€æŸ¥
==================================================

å„åˆ—ç¼ºå¤±å€¼ç»Ÿè®¡:
Rank            0
NOC             0
Gold            0
Silver          0
Bronze          0
Total           0
Year            0
is_host         0
total_events    0
dtype: int64

æ•°æ®ç±»å‹:
Rank             int64
NOC             object
Gold             int64
Silver           int64
Bronze           int64
Total            int64
Year             int64
is_host          int64
total_events     int64
dtype: object

In [23]:
# éªŒè¯3ï¼šä¸œé“ä¸»æ•ˆåº”åˆæ­¥è§‚å¯Ÿ
print("=" * 50)
print("ğŸ“Š éªŒè¯3ï¼šä¸œé“ä¸»æ•ˆåº”åˆæ­¥è§‚å¯Ÿ")
print("=" * 50)

# æ¯”è¾ƒä¸œé“ä¸»ä¸éä¸œé“ä¸»çš„å¹³å‡å¥–ç‰Œæ•°
host_comparison = df_main.groupby('is_host').agg({
    'Total': ['mean', 'median', 'std'],
    'Gold': 'mean',
    'medal_ratio': 'mean'
}).round(2)

host_comparison.columns = ['å¹³å‡æ€»å¥–ç‰Œ', 'ä¸­ä½æ•°æ€»å¥–ç‰Œ', 'æ ‡å‡†å·®', 'å¹³å‡é‡‘ç‰Œ', 'å¹³å‡å¥–ç‰Œå æ¯”']
host_comparison.index = ['éä¸œé“ä¸»', 'ä¸œé“ä¸»']
print(host_comparison)

print("\nğŸ’¡ åˆæ­¥ç»“è®ºï¼šä¸œé“ä¸»å¹³å‡è·å¾—çš„å¥–ç‰Œæ•°æ˜æ˜¾é«˜äºéä¸œé“ä¸»å›½å®¶ã€‚")

==================================================
ğŸ“Š éªŒè¯3ï¼šä¸œé“ä¸»æ•ˆåº”åˆæ­¥è§‚å¯Ÿ
==================================================

KeyError: "Column(s) ['medal_ratio'] do not exist"

---

## 3. ç‰¹å¾å·¥ç¨‹

ç‰¹å¾å·¥ç¨‹æ˜¯æœºå™¨å­¦ä¹ ä¸­æœ€å…³é”®çš„ç¯èŠ‚ä¹‹ä¸€ã€‚å¥½çš„ç‰¹å¾å¯ä»¥æå¤§åœ°æå‡æ¨¡å‹æ€§èƒ½ã€‚

### 3.1 åˆ›å»ºæ»åç‰¹å¾ï¼šæ•æ‰å†å²è¡¨ç°

#### ä»€ä¹ˆæ˜¯æ»åç‰¹å¾ï¼Ÿ

æ»åç‰¹å¾ï¼ˆLag Featuresï¼‰æ˜¯å°†**è¿‡å»çš„å€¼**ä½œä¸ºå½“å‰çš„ç‰¹å¾ã€‚åœ¨å¥–ç‰Œé¢„æµ‹ä¸­ï¼š
- `lag1`ï¼šä¸Šä¸€å±Šå¥¥è¿ä¼šçš„å¥–ç‰Œæ•°
- `lag2`ï¼šä¸Šä¸¤å±Šå¥¥è¿ä¼šçš„å¥–ç‰Œæ•°

#### ä¸ºä»€ä¹ˆæ»åç‰¹å¾é‡è¦ï¼Ÿ

1. **æƒ¯æ€§æ•ˆåº”**ï¼šå¼ºå›½å¾€å¾€æŒç»­å¼ºåŠ¿ï¼Œå¼±å›½çŸ­æœŸå†…éš¾ä»¥é€†è¢­
2. **æ”¿ç­–å‘¨æœŸ**ï¼šä½“è‚²æŠ•å…¥çš„æ•ˆæœæœ‰æ»åæ€§ï¼ˆ4-8å¹´ï¼‰
3. **é¢„æµ‹åŸºå‡†**ï¼š"ä¸ä¸Šå±Šç›¸åŒ"æœ¬èº«å°±æ˜¯ä¸€ä¸ªä¸é”™çš„é¢„æµ‹åŸºçº¿

#### å¦‚ä½•å¤„ç†é¦–æ¬¡å‚èµ›çš„å›½å®¶ï¼Ÿ

å¯¹äºé¦–æ¬¡å‚èµ›çš„å›½å®¶ï¼Œæ»åå€¼ä¸ºç©ºï¼ˆNaNï¼‰ã€‚æˆ‘ä»¬é€‰æ‹©å¡«å……ä¸º0ï¼Œä¸šåŠ¡å«ä¹‰æ˜¯"æ— å†å²æˆç»©"ã€‚

> âš ï¸ **é‡è¦**ï¼šä½¿ç”¨ `shift(1)` è€Œé `shift(-1)`ï¼
> - `shift(1)` å‘ä¸‹ç§»åŠ¨æ•°æ®ï¼Œè·å–**ä¸Šä¸€è¡Œ**çš„å€¼ï¼ˆè¿‡å»ï¼‰
> - `shift(-1)` å‘ä¸Šç§»åŠ¨æ•°æ®ï¼Œè·å–**ä¸‹ä¸€è¡Œ**çš„å€¼ï¼ˆæœªæ¥ï¼‰
> - åœ¨é¢„æµ‹åœºæ™¯ä¸­ï¼Œæˆ‘ä»¬åªèƒ½ä½¿ç”¨è¿‡å»çš„ä¿¡æ¯ï¼

In [24]:
# é¦–å…ˆï¼Œç¡®ä¿æ•°æ®æŒ‰å›½å®¶å’Œå¹´ä»½æ’åº
df_main = df_main.sort_values(['NOC', 'Year']).reset_index(drop=True)

print("=" * 50)
print("ğŸ“Š åˆ›å»ºæ»åç‰¹å¾")
print("=" * 50)

# åˆ›å»ºlag1ç‰¹å¾ï¼ˆä¸Šä¸€å±Šå¥¥è¿ä¼šçš„å¥–ç‰Œæ•°ï¼‰
# groupbyç¡®ä¿åªåœ¨åŒä¸€å›½å®¶å†…è¿›è¡Œshiftæ“ä½œ
df_main['total_lag1'] = df_main.groupby('NOC')['Total'].shift(1)
df_main['gold_lag1'] = df_main.groupby('NOC')['Gold'].shift(1)

# åˆ›å»ºlag2ç‰¹å¾ï¼ˆä¸Šä¸¤å±Šå¥¥è¿ä¼šçš„å¥–ç‰Œæ•°ï¼‰
df_main['total_lag2'] = df_main.groupby('NOC')['Total'].shift(2)

print("æ»åç‰¹å¾åˆ›å»ºå®Œæˆï¼")
print(f"\nç¼ºå¤±å€¼ç»Ÿè®¡ï¼ˆé¢„æœŸï¼šé¦–æ¬¡/é¦–ä¸¤æ¬¡å‚èµ›çš„è®°å½•ï¼‰:")
print(f"  - total_lag1 ç¼ºå¤±: {df_main['total_lag1'].isnull().sum()} æ¡")
print(f"  - total_lag2 ç¼ºå¤±: {df_main['total_lag2'].isnull().sum()} æ¡")

==================================================
ğŸ“Š åˆ›å»ºæ»åç‰¹å¾
==================================================
æ»åç‰¹å¾åˆ›å»ºå®Œæˆï¼

ç¼ºå¤±å€¼ç»Ÿè®¡ï¼ˆé¢„æœŸï¼šé¦–æ¬¡/é¦–ä¸¤æ¬¡å‚èµ›çš„è®°å½•ï¼‰:
  - total_lag1 ç¼ºå¤±: 164 æ¡
  - total_lag2 ç¼ºå¤±: 291 æ¡

In [25]:
# å¡«å……ç¼ºå¤±å€¼ä¸º0ï¼ˆè¡¨ç¤ºæ— å†å²æˆç»©ï¼‰
df_main['total_lag1'] = df_main['total_lag1'].fillna(0)
df_main['gold_lag1'] = df_main['gold_lag1'].fillna(0)
df_main['total_lag2'] = df_main['total_lag2'].fillna(0)

print("âœ… ç¼ºå¤±å€¼å·²å¡«å……ä¸º0")

âœ… ç¼ºå¤±å€¼å·²å¡«å……ä¸º0

In [26]:
# éªŒè¯æ»åç‰¹å¾çš„æ­£ç¡®æ€§ï¼ˆä»¥ç¾å›½ä¸ºä¾‹ï¼‰
print("=" * 50)
print("ğŸ” éªŒè¯ï¼šç¾å›½(United States)çš„æ»åç‰¹å¾")
print("=" * 50)

usa_data = df_main[df_main['NOC'] == 'United States'][['Year', 'Total', 'total_lag1', 'total_lag2']].tail(10)
print(usa_data)

print("\nğŸ’¡ éªŒè¯é€»è¾‘ï¼šæ¯è¡Œçš„total_lag1åº”ç­‰äºä¸Šä¸€è¡Œçš„Totalå€¼")

==================================================
ğŸ” éªŒè¯ï¼šç¾å›½(United States)çš„æ»åç‰¹å¾
==================================================
      Year  Total  total_lag1  total_lag2
1365  1988     94       174.0        94.0
1366  1992    108        94.0       174.0
1367  1996    101       108.0        94.0
1368  2000     93       101.0       108.0
1369  2004    101        93.0       101.0
1370  2008    112       101.0        93.0
1371  2012    104       112.0       101.0
1372  2016    121       104.0       112.0
1373  2020    113       121.0       104.0
1374  2024    126       113.0       121.0

ğŸ’¡ éªŒè¯é€»è¾‘ï¼šæ¯è¡Œçš„total_lag1åº”ç­‰äºä¸Šä¸€è¡Œçš„Totalå€¼

### 3.2 åˆ›å»ºæ»šåŠ¨å¹³å‡ç‰¹å¾ï¼šè¡¡é‡ç¨³å®šæ°´å¹³

#### ä¸ºä»€ä¹ˆéœ€è¦æ»šåŠ¨å¹³å‡ï¼Ÿ

å•å±Šçš„å¥–ç‰Œæ•°å¯èƒ½å—åˆ°å¶ç„¶å› ç´ å½±å“ï¼ˆå¦‚ä¸»åŠ›è¿åŠ¨å‘˜å—ä¼¤ã€é¡¹ç›®è®¾ç½®å˜åŒ–ç­‰ï¼‰ã€‚è¿‡å»Nå±Šçš„**æ»šåŠ¨å¹³å‡**å¯ä»¥ï¼š

1. **å¹³æ»‘æ³¢åŠ¨**ï¼šæ¶ˆé™¤å•å±Šçš„å¶ç„¶å› ç´ 
2. **è¡¡é‡ç¨³å®šå®åŠ›**ï¼šåæ˜ ä¸€ä¸ªå›½å®¶çš„æŒç»­ç«äº‰åŠ›
3. **æ•æ‰è¶‹åŠ¿**ï¼šé€šè¿‡æ¯”è¾ƒæ»šåŠ¨å¹³å‡ä¸å•å±Šå€¼ï¼Œå¯ä»¥åˆ¤æ–­æ˜¯ä¸Šå‡è¿˜æ˜¯ä¸‹é™è¶‹åŠ¿

#### æ»šåŠ¨çª—å£çš„é€‰æ‹©

æˆ‘ä»¬é€‰æ‹©**è¿‡å»3å±Š**çš„æ»šåŠ¨å¹³å‡ï¼š
- çª—å£å¤ªå°ï¼ˆå¦‚2å±Šï¼‰ï¼šå¹³æ»‘æ•ˆæœä¸è¶³
- çª—å£å¤ªå¤§ï¼ˆå¦‚5å±Šï¼‰ï¼šå¯¹è¿‘æœŸå˜åŒ–ä¸æ•æ„Ÿ
- 3å±Šçº¦12å¹´ï¼Œæ­£å¥½è¦†ç›–ä¸€ä¸ªä½“è‚²æŠ•å…¥å‘¨æœŸ

#### é¿å…æ•°æ®æ³„éœ²

> âš ï¸ **å…³é”®**ï¼šæ»šåŠ¨å¹³å‡ä¹Ÿéœ€è¦ `shift(1)`ï¼
> 
> å¦‚æœç›´æ¥ä½¿ç”¨ `rolling(3).mean()`ï¼Œä¼šåŒ…å«å½“å±Šçš„æ•°æ®ï¼Œé€ æˆ**æ•°æ®æ³„éœ²**ï¼ˆä½¿ç”¨äº†æœªæ¥ä¿¡æ¯æ¥é¢„æµ‹æœªæ¥ï¼‰ã€‚
> 
> æ­£ç¡®åšæ³•ï¼šå…ˆ `shift(1)` å† `rolling(3).mean()`ï¼Œæˆ–ä½¿ç”¨ `rolling(3).mean().shift(1)`

In [27]:
# åˆ›å»ºæ»šåŠ¨å¹³å‡ç‰¹å¾
print("=" * 50)
print("ğŸ“Š åˆ›å»ºæ»šåŠ¨å¹³å‡ç‰¹å¾")
print("=" * 50)

# è¿‡å»3å±Šçš„å¹³å‡å¥–ç‰Œæ•°ï¼ˆä¸åŒ…å«å½“å±Šï¼‰
# rolling(3).mean() è®¡ç®—åŒ…å«å½“å‰è¡Œåœ¨å†…çš„3è¡Œå¹³å‡
# å† shift(1) å‘ä¸‹ç§»åŠ¨ä¸€è¡Œï¼Œä½¿å¾—æ¯è¡Œçš„å€¼æ˜¯"è¿‡å»3å±Š"çš„å¹³å‡
df_main['total_rolling3_mean'] = df_main.groupby('NOC')['Total'].transform(
    lambda x: x.rolling(window=3, min_periods=1).mean().shift(1)
)

# å¡«å……ç¼ºå¤±å€¼
df_main['total_rolling3_mean'] = df_main['total_rolling3_mean'].fillna(0)

print("âœ… æ»šåŠ¨å¹³å‡ç‰¹å¾åˆ›å»ºå®Œæˆï¼")

==================================================
ğŸ“Š åˆ›å»ºæ»šåŠ¨å¹³å‡ç‰¹å¾
==================================================
âœ… æ»šåŠ¨å¹³å‡ç‰¹å¾åˆ›å»ºå®Œæˆï¼

In [28]:
# åˆ›å»ºé¢å¤–çš„æœ‰ç”¨ç‰¹å¾

# 1. å¥–ç‰Œå˜åŒ–é‡ï¼ˆä¸ä¸Šå±Šç›¸æ¯”ï¼‰
df_main['total_change'] = df_main['Total'] - df_main['total_lag1']

# 2. å‚èµ›å±Šæ•°ï¼ˆç»éªŒç§¯ç´¯ï¼‰
df_main['participation_count'] = df_main.groupby('NOC').cumcount() + 1

# 3. é‡‘ç‰Œå æ¯”ï¼ˆè¡¡é‡ç«æŠ€æ°´å¹³è´¨é‡ï¼‰
df_main['gold_ratio'] = df_main['Gold'] / df_main['Total'].replace(0, np.nan)
df_main['gold_ratio'] = df_main['gold_ratio'].fillna(0)

print("=" * 50)
print("âœ… é¢å¤–ç‰¹å¾åˆ›å»ºå®Œæˆ")
print("=" * 50)
print(f"\nå½“å‰ç‰¹å¾åˆ—è¡¨: {list(df_main.columns)}")

==================================================
âœ… é¢å¤–ç‰¹å¾åˆ›å»ºå®Œæˆ
==================================================

å½“å‰ç‰¹å¾åˆ—è¡¨: ['Rank', 'NOC', 'Gold', 'Silver', 'Bronze', 'Total', 'Year', 'is_host', 'total_events', 'total_lag1', 'gold_lag1', 'total_lag2', 'total_rolling3_mean', 'total_change', 'participation_count', 'gold_ratio']

### 3.3 æ–°ç‰¹å¾æœ‰æ•ˆæ€§æ£€æŸ¥

ç‰¹å¾å·¥ç¨‹å®Œæˆåï¼Œæˆ‘ä»¬éœ€è¦éªŒè¯æ–°ç‰¹å¾çš„æœ‰æ•ˆæ€§ã€‚æˆ‘ä»¬é€‰å–ä¸¤ä¸ªä»£è¡¨æ€§å›½å®¶è¿›è¡Œæ£€æŸ¥ï¼š

- **ç¾å›½ (United States)**ï¼šä¼ ç»Ÿä½“è‚²å¼ºå›½ï¼Œå¥–ç‰Œæ•°ç¨³å®šåœ¨é«˜ä½
- **ä¸­å›½ (China)**ï¼šå¿«é€Ÿå´›èµ·çš„ä½“è‚²å¼ºå›½ï¼Œæœ‰æ˜æ˜¾çš„ä¸Šå‡è¶‹åŠ¿

é€šè¿‡è§‚å¯Ÿè¿™ä¸¤ä¸ªå›½å®¶çš„ç‰¹å¾å€¼ï¼Œå¯ä»¥ç›´è§‚éªŒè¯ç‰¹å¾è®¡ç®—çš„æ­£ç¡®æ€§ã€‚

In [29]:
# æŸ¥çœ‹ç¾å›½çš„ç‰¹å¾æ•°æ®
print("=" * 50)
print("ğŸ‡ºğŸ‡¸ ç¾å›½ (United States) è¿‘10å±Šæ•°æ®")
print("=" * 50)

usa_features = df_main[df_main['NOC'] == 'United States'][
    ['Year', 'Total', 'Gold', 'total_lag1', 'total_rolling3_mean', 
     'total_change', 'participation_count', 'is_host']
].tail(10)

print(usa_features.to_string(index=False))

==================================================
ğŸ‡ºğŸ‡¸ ç¾å›½ (United States) è¿‘10å±Šæ•°æ®
==================================================
 Year  Total  Gold  total_lag1  total_rolling3_mean  total_change  participation_count  is_host
 1988     94    36       174.0           120.666667         -80.0                   20        0
 1992    108    37        94.0           120.666667          14.0                   21        0
 1996    101    44       108.0           125.333333          -7.0                   22        1
 2000     93    37       101.0           101.000000          -8.0                   23        0
 2004    101    36        93.0           100.666667           8.0                   24        0
 2008    112    36       101.0            98.333333          11.0                   25        0
 2012    104    48       112.0           102.000000          -8.0                   26        0
 2016    121    46       104.0           105.666667          17.0                   27        0
 2020    113    39       121.0           112.333333          -8.0                   28        0
 2024    126    40       113.0           112.666667          13.0                   29        0

In [30]:
# æŸ¥çœ‹ä¸­å›½çš„ç‰¹å¾æ•°æ®
print("=" * 50)
print("ğŸ‡¨ğŸ‡³ ä¸­å›½ (China) å…¨éƒ¨æ•°æ®")
print("=" * 50)

china_features = df_main[df_main['NOC'] == 'China'][
    ['Year', 'Total', 'Gold', 'total_lag1', 'total_rolling3_mean', 
     'total_change', 'participation_count', 'is_host']
]

print(china_features.to_string(index=False))

print("\nğŸ’¡ è§‚å¯Ÿï¼š")
print("  - ä¸­å›½1984å¹´é¦–æ¬¡å‚èµ›ï¼Œæ‰€ä»¥lag1=0")
print("  - 2008å¹´is_host=1ï¼Œå¥–ç‰Œæ•°è¾¾åˆ°å³°å€¼100æš")
print("  - å¥–ç‰Œæ•°æ•´ä½“å‘ˆä¸Šå‡è¶‹åŠ¿")

==================================================
ğŸ‡¨ğŸ‡³ ä¸­å›½ (China) å…¨éƒ¨æ•°æ®
==================================================
 Year  Total  Gold  total_lag1  total_rolling3_mean  total_change  participation_count  is_host
 1984     32    15         0.0             0.000000          32.0                    1        0
 1988     28     5        32.0            32.000000          -4.0                    2        0
 1992     54    16        28.0            30.000000          26.0                    3        0
 1996     50    16        54.0            38.000000          -4.0                    4        0
 2000     58    28        50.0            44.000000           8.0                    5        0
 2004     63    32        58.0            54.000000           5.0                    6        0
 2008    100    48        63.0            57.000000          37.0                    7        1
 2012     92    39       100.0            73.666667          -8.0                    8        0
 2016     70    26        92.0            85.000000         -22.0                    9        0
 2020     89    38        70.0            87.333333          19.0                   10        0
 2024     91    40        89.0            83.666667           2.0                   11        0

ğŸ’¡ è§‚å¯Ÿï¼š
  - ä¸­å›½1984å¹´é¦–æ¬¡å‚èµ›ï¼Œæ‰€ä»¥lag1=0
  - 2008å¹´is_host=1ï¼Œå¥–ç‰Œæ•°è¾¾åˆ°å³°å€¼100æš
  - å¥–ç‰Œæ•°æ•´ä½“å‘ˆä¸Šå‡è¶‹åŠ¿

In [31]:
# ç‰¹å¾ç›¸å…³æ€§æ£€æŸ¥
print("=" * 50)
print("ğŸ“Š ç‰¹å¾ä¸ç›®æ ‡å˜é‡(Total)çš„ç›¸å…³æ€§")
print("=" * 50)

numeric_cols = ['Total', 'Gold', 'total_lag1', 'gold_lag1', 'total_lag2', 
                'total_rolling3_mean', 'is_host', 'total_events', 'participation_count']

correlation = df_main[numeric_cols].corr()['Total'].sort_values(ascending=False)
print(correlation)

print("\nğŸ’¡ ç»“è®ºï¼š")
print("  - total_lag1ä¸Totalé«˜åº¦ç›¸å…³ï¼Œè¯´æ˜å†å²è¡¨ç°æ˜¯å¼ºé¢„æµ‹å› å­")
print("  - total_rolling3_meanä¹Ÿæœ‰å¾ˆé«˜ç›¸å…³æ€§ï¼Œå¹³æ»‘ç‰¹å¾æœ‰æ•ˆ")
print("  - is_hostç›¸å…³æ€§è¾ƒä½ï¼Œä½†ä½œä¸ºç±»åˆ«ç‰¹å¾ä»æœ‰æ„ä¹‰")

==================================================
ğŸ“Š ç‰¹å¾ä¸ç›®æ ‡å˜é‡(Total)çš„ç›¸å…³æ€§
==================================================
Total                  1.000000
Gold                   0.970321
total_rolling3_mean    0.834585
total_lag1             0.800085
gold_lag1              0.791012
total_lag2             0.758923
is_host                0.368497
participation_count    0.232037
total_events          -0.036603
Name: Total, dtype: float64

ğŸ’¡ ç»“è®ºï¼š
  - total_lag1ä¸Totalé«˜åº¦ç›¸å…³ï¼Œè¯´æ˜å†å²è¡¨ç°æ˜¯å¼ºé¢„æµ‹å› å­
  - total_rolling3_meanä¹Ÿæœ‰å¾ˆé«˜ç›¸å…³æ€§ï¼Œå¹³æ»‘ç‰¹å¾æœ‰æ•ˆ
  - is_hostç›¸å…³æ€§è¾ƒä½ï¼Œä½†ä½œä¸ºç±»åˆ«ç‰¹å¾ä»æœ‰æ„ä¹‰

---

## 4. æ•°æ®ä¿å­˜ä¸æ€»ç»“

### 4.1 ä¿å­˜å¤„ç†åçš„æ•°æ®

æˆ‘ä»¬å°†æ¸…æ´—å’Œç‰¹å¾å·¥ç¨‹åçš„æ•°æ®ä¿å­˜ä¸ºCSVæ–‡ä»¶ï¼Œä¾›åç»­å»ºæ¨¡ä½¿ç”¨ã€‚

In [32]:
# ä¿å­˜ä¸»è¡¨
output_file = 'processed_medal_data.csv'
df_main.to_csv(output_file, index=False)

print("=" * 50)
print("ğŸ’¾ æ•°æ®ä¿å­˜å®Œæˆ")
print("=" * 50)
print(f"\næ–‡ä»¶å: {output_file}")
print(f"æ•°æ®å½¢çŠ¶: {df_main.shape}")
print(f"\nåˆ—ä¿¡æ¯:")
for col in df_main.columns:
    print(f"  - {col}: {df_main[col].dtype}")

==================================================
ğŸ’¾ æ•°æ®ä¿å­˜å®Œæˆ
==================================================

æ–‡ä»¶å: processed_medal_data.csv
æ•°æ®å½¢çŠ¶: (1435, 16)

åˆ—ä¿¡æ¯:
  - Rank: int64
  - NOC: object
  - Gold: int64
  - Silver: int64
  - Bronze: int64
  - Total: int64
  - Year: int64
  - is_host: int64
  - total_events: int64
  - total_lag1: float64
  - gold_lag1: float64
  - total_lag2: float64
  - total_rolling3_mean: float64
  - total_change: float64
  - participation_count: int64
  - gold_ratio: float64

In [33]:
# æœ€ç»ˆæ•°æ®é¢„è§ˆ
print("=" * 50)
print("ğŸ“‹ æœ€ç»ˆæ•°æ®é¢„è§ˆï¼ˆéšæœº10æ¡ï¼‰")
print("=" * 50)
df_main.sample(10)

==================================================
ğŸ“‹ æœ€ç»ˆæ•°æ®é¢„è§ˆï¼ˆéšæœº10æ¡ï¼‰
==================================================

      Rank             NOC  Gold  Silver  Bronze  Total  Year  is_host  total_events  total_lag1  gold_lag1  total_lag2  total_rolling3_mean  total_change  participation_count  gold_ratio
1075    23         Romania     1       1       2      4  1952        0           149         1.0        0.0         1.0             1.000000           3.0                    3    0.250000
749     23           Japan     3       6       5     14  1996        0           271        22.0        3.0        14.0            22.666667          -8.0                   16    0.214286
522      9   Great Britain     5       7       5     17  1932        0           117        20.0        3.0        34.0            32.000000          -3.0                    9    0.294118
891      8     Netherlands     6       9       4     19  1928        1           109        10.0        4.0        11.0             8.000000           9.0                    6    0.315789
1071     5             ROC    20      28      23     71  2020        0           339         0.0        0.0         0.0             0.000000          71.0                    1    0.281690
324      8  Czechoslovakia     6       2       3     11  1948        0           136         9.0        3.0         6.0             8.000000           2.0                    6    0.545455
168     41          Brazil     0       0       2      2  1972        0           195         3.0        0.0         1.0             2.000000          -1.0                    8    0.000000
517      1   Great Britain    56      51      39    146  1908        1           110         2.0        1.0        31.0            13.333333         144.0                    4    0.383562
1163    19     South Korea     1       1       4      6  1976        0           198         1.0        0.0         2.0             2.000000           5.0                    7    0.166667
1033    23          Poland     3       2       5     10  2004        0           301        14.0        6.0        17.0            16.666667          -4.0                   18    0.300000

### 4.2 é¢„å¤„ç†æ€»ç»“

#### âœ… æœ¬Notebookå®Œæˆçš„å·¥ä½œ

1. **æ•°æ®åŠ è½½ä¸æ¢ç´¢**
   - åŠ è½½äº†5ä¸ªæ•°æ®æ–‡ä»¶
   - äº†è§£äº†å„è¡¨çš„ç»“æ„å’Œå…³ç³»
   - å‘ç°äº†æ•°æ®ä¸­çš„ç‰¹æ®Šæƒ…å†µï¼ˆå†å²å®ä½“ã€å‘½åå·®å¼‚ç­‰ï¼‰

2. **æ•°æ®æ¸…æ´—ä¸åˆå¹¶**
   - å¤„ç†äº†ä¸»åŠåŸå¸‚æ•°æ®ï¼Œæå–ä¸œé“å›½ä¿¡æ¯
   - åˆ›å»ºäº†å›½å®¶åç§°æ˜ å°„ï¼Œè§£å†³å‘½åä¸ä¸€è‡´é—®é¢˜
   - æ„å»ºäº†åŒ…å«ä¸œé“ä¸»æ ‡å¿—å’Œæ€»é¡¹ç›®æ•°çš„ä¸»åˆ†æè¡¨

3. **ç‰¹å¾å·¥ç¨‹**
   - åˆ›å»ºäº†æ»åç‰¹å¾ï¼ˆlag1, lag2ï¼‰ï¼šæ•æ‰å†å²è¡¨ç°
   - åˆ›å»ºäº†æ»šåŠ¨å¹³å‡ç‰¹å¾ï¼šè¡¡é‡ç¨³å®šæ°´å¹³
   - åˆ›å»ºäº†è¾…åŠ©ç‰¹å¾ï¼šå‚èµ›å±Šæ•°ã€é‡‘ç‰Œå æ¯”ã€å¥–ç‰Œå˜åŒ–é‡ç­‰

4. **æ•°æ®éªŒè¯**
   - éªŒè¯äº†ä¸œé“ä¸»æ ‡å¿—çš„æ­£ç¡®æ€§
   - æ£€æŸ¥äº†ç‰¹å¾çš„ç›¸å…³æ€§
   - é€šè¿‡å…·ä½“å›½å®¶æ¡ˆä¾‹éªŒè¯äº†ç‰¹å¾è®¡ç®—é€»è¾‘

#### ğŸ“Š æœ€ç»ˆæ•°æ®é›†ç‰¹å¾è¯´æ˜

| ç‰¹å¾å | è¯´æ˜ | ç±»å‹ |
|--------|------|------|
| Year | å¥¥è¿å¹´ä»½ | æ—¶é—´ |
| NOC | å›½å®¶åç§° | ç±»åˆ« |
| Gold/Silver/Bronze/Total | å„ç±»å¥–ç‰Œæ•° | ç›®æ ‡å˜é‡ |
| is_host | æ˜¯å¦ä¸ºä¸œé“ä¸» | äºŒå…ƒç‰¹å¾ |
| total_events | å½“å±Šæ€»é¡¹ç›®æ•° | æ•°å€¼ |
| total_lag1/lag2 | ä¸Š1/2å±Šå¥–ç‰Œæ•° | æ»åç‰¹å¾ |
| total_rolling3_mean | è¿‡å»3å±Šå¹³å‡ | æ»šåŠ¨ç‰¹å¾ |
| participation_count | å‚èµ›å±Šæ•° | ç»éªŒç‰¹å¾ |
| medal_ratio | å¥–ç‰Œå æ¯” | å½’ä¸€åŒ–ç‰¹å¾ |
| gold_ratio | é‡‘ç‰Œå æ¯” | è´¨é‡ç‰¹å¾ |

#### ğŸš€ ä¸‹ä¸€æ­¥å»ºè®®

1. **æ¢ç´¢æ€§æ•°æ®åˆ†æï¼ˆEDAï¼‰**ï¼šå¯è§†åŒ–å„ç‰¹å¾çš„åˆ†å¸ƒå’Œè¶‹åŠ¿
2. **ç‰¹å¾é€‰æ‹©**ï¼šä½¿ç”¨ç»Ÿè®¡æ–¹æ³•æˆ–æ¨¡å‹ç­›é€‰æœ€é‡è¦çš„ç‰¹å¾
3. **æ¨¡å‹è®­ç»ƒ**ï¼šå°è¯•çº¿æ€§å›å½’ã€éšæœºæ£®æ—ã€XGBoostç­‰æ¨¡å‹
4. **2028é¢„æµ‹**ï¼šåŸºäºå†å²æ¨¡å¼é¢„æµ‹2028æ´›æ‰çŸ¶å¥¥è¿ä¼šçš„å¥–ç‰Œåˆ†å¸ƒ

In [34]:
print("\n" + "="*60)
print("ğŸ‰ æ­å–œï¼æ•°æ®é¢„å¤„ç†æµç¨‹å®Œæˆï¼")
print("="*60)
print("\nç°åœ¨ä½ å·²ç»æœ‰äº†ä¸€ä¸ªå¹²å‡€ã€ç»“æ„åŒ–çš„æ•°æ®é›†ï¼Œå¯ä»¥å¼€å§‹å»ºæ¨¡äº†ï¼")
print("\nè®°ä½ï¼šå¥½çš„æ•°æ®é¢„å¤„ç†æ˜¯æˆåŠŸå»ºæ¨¡çš„ä¸€åŠã€‚")

============================================================
ğŸ‰ æ­å–œï¼æ•°æ®é¢„å¤„ç†æµç¨‹å®Œæˆï¼
============================================================

ç°åœ¨ä½ å·²ç»æœ‰äº†ä¸€ä¸ªå¹²å‡€ã€ç»“æ„åŒ–çš„æ•°æ®é›†ï¼Œå¯ä»¥å¼€å§‹å»ºæ¨¡äº†ï¼

è®°ä½ï¼šå¥½çš„æ•°æ®é¢„å¤„ç†æ˜¯æˆåŠŸå»ºæ¨¡çš„ä¸€åŠã€‚